# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity auto generated (recreatable)
*.pidb
*.pdb
*.mdb

# Visual Studio
.vs/
*.sln
*.csproj
*.unityproj

# OS
.DS_Store
Thumbs.db

# Unity cache
AssetStoreTools*

# JetBrains IDEs
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
